body{
  font-family: Trebuchet MS;
  margin: 0;
}
header{
  width: 100%;
  height: 7vh;
  box-shadow: 3px 3px 3px #888888;
  background-color: #F0CD4D;
  position: relative;
}
#headerText{
  font-family: Courier, monospace;
  font-size: 32px;
  color: #F8FED7;
  position: absolute;
  margin-left: 125px;
  margin-top: 1vh;
}
#headerText:hover{
    color: rgba(0,0,0,0.25);
}
#headerLogo{
  width: 60px;
  height: 7vh;
  margin-left: 55px;
  color: black;
  position: absolute;
}
#navMenu{
  font-family: Courier, monospace;
  font-size: 20px;
  width: auto;
  margin-left: 35%;
  margin-top: 2vh;
  position: absolute;
  display: inline-block;
}
.navLink{
  color: #F8FED7;
  padding: 20px;
}
a{
  text-decoration: none;
}
a:link {
  color: #F8FED7;
}
a:visited {
  color: #F8FED7;
}
a:hover {
  color: rgba(0,0,0,0.25);
}
a:active {
  color: #565051;
}
main{
  width: 100%;
  height: 86vh;
  background-color:#FAFFE1;
}
div{
  float: left;
}
div img{
  margin: 20px 0 0 40px;
  max-width: 75%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 50%;
}
.name{
  margin: 2vh 0 0 40px;
  font-weight: bolder;
  color: #C58847;
  text-shadow: 1px 1px black;
  font-size: 24px;
}
.picDiv{
  width: 20%;
  height: 43vh;
  display: flex;
  flex-direction: column;
}
.textDiv{
  width: 30%;
  height: 43vh;
  display: flex;
  flex-direction: column;
}
.bio{
  text-align: center;
  font-size: 16px;
  margin: 25% 5% 0 0;
  color: #C58847;
}
footer{
  width: 100%;
  height: 7vh;
  background-color: #E6CA69;
  font-style:italic;
  font-weight: 800;
  clear: both;
}
#footerText{
  font-family: Trebuchet MS;
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding-top: 1.5vh;
}
