body{
  font-family: Trebuchet MS;
  margin: 0;
}
header{
  width: 100%;
  height: 7vh;
  box-shadow: 3px 3px 3px #888888;
  background-color: #F0CD4D;
  position: relative;
}
#headerText{
  font-family: Courier, monospace;
  font-size: 32px;
  color: #F8FED7;
  position: absolute;
  margin-left: 125px;
  margin-top: 1vh;
}
#headerLogo{
  width: 60px;
  height: 7vh;
  margin-left: 55px;
  color: black;
  position: absolute;
}
#navMenu{
  font-family: Courier, monospace;
  font-size: 20px;
  width: auto;
  margin-left: 35%;
  margin-top: 2vh;
  position: absolute;
  display: inline-block;
}
.navLink{
  color: #F8FED7;
  padding: 20px;
}
a{
  text-decoration: none;
}
/* unvisited link */
a:link {
  color: #F8FED7;
}
/* visited link */
a:visited {
  color: #F8FED7;
}
/* mouse over link */
a:hover {
  color: rgba(0,0,0,0.25);
}
/* selected link */
a:active {
  color: #565051;
}
main{
  width: 100%;
  height: 86vh;
  background-color:#FAFFE1;
}
div {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#leftDiv{
  width: 50%;
  height: 86vh;
}
#frontPageTrack{
  width:90%;
  height: auto;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#trackInfo{
  width: 100%;
  height: auto;
  text-align: center;
  color: #C58847;
  font-weight: bolder;
}
.movieInfo{
  float: right;
  margin: 5% 0 0 5%;
}
.movieInfo img{
  width: 100px;
  height: 150px;
  float: left;
  margin-right: 10px;
}
#rating{
  margin: 0;
}
#rightDiv{
  width: 50%;
  height: 86vh;
  position: relative;
}
#picContainer{
  text-align: center;
  margin: 8% 5% 0 5%;
}
#groupPic{
  width: 75%;
  height: 75%;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#picLabel{
  font-size: 12px;
  text-align: center;
  margin: 5px 10px;
}
#indexIntro{
  margin: 10% 10%;
  text-align: center;
  position: relative;
  color: #C58847;
}
footer{
  width: 100%;
  height: 7vh;
  background-color: #E6CA69;
  font-style:italic;
  font-weight: 800;
  clear: both;
}
#footerText{
  font-family: Trebuchet MS;
  color: black;
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding-top: 1.5vh;
}
